.menu-tools {
  position: fixed;
  width: 220px;
  height: 100%;
  background-color: #fff;
  border-right: solid 1px #333;
  box-sizing: border-box;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

.icon-sgc {
  width: 100%;
  height: auto;
}

.selector-volcan {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #666;
  border-right: none;
  background-color: #fff;
  color: #333;
  font-size: 17px;
  border-radius: 0;
}

.ctx-menu {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  visibility: hidden;
}

.ctx-options {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

.option-menu {
  position: relative;
  width: auto;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  color: #333;
  font-size: 17px;
}

.visible {
  visibility: visible;
}